<?xml version="1.0" ?>

<visus>

<Configuration>
  
  <!--
  <VisusViewer background_color="255 255 255 255">
   <Logo>
      <BottomLeft alpha='0.8' filename='cat_rgb.tga' />
   </Logo> 
  </VisusViewer>
  -->  
      
  <ModVisusAccess nconnections="8" num_queries_per_request="4"/>

</Configuration>

  <alias key='VisusCacheDirectory' value='$(VisusHome)/cache' /> 

<datasets>
  <!-- ====================================================================== -->
  <!-- ============================== Templates ============================= -->
  <!-- ====================================================================== -->
  <template name="CreateAccess">
    <access type="multiplex">
      <access type="disk"    chmod="rw" url="file://$(VisusCacheDirectory)/$(name)/visus.idx"  />
      <access type="network" chmod="r"  compression="zip" />
    </access>
  </template>
  
  <template name="CreateAccessOnDemandRW">
    <access name="Multiplex" type="multiplex">
      <access chmod="rw" type="disk" url="file://$(data)/$(name)/visus.idx" />
      <access chmod="r" ondemand="$(ondemand)" type="ondemandaccess" />
    </access>
  </template>
  
  <template name="CreateAccessOnDemand3Level">
    <access name="Multiplex" type="multiplex">
      <access chmod="r" type="disk" />
      <access chmod="r" ondemand="$(ondemand)" path="$(path)" type="ondemandaccess" />
      <access chmod="r" type="disk" />
     </access>
  </template>  

  <alias key='server' value='atlantis.sci.utah.edu' /> 
 
  <!-- ====================================================================== -->
  <!-- =========================== Your datasets ============================ -->
  <!-- ====================================================================== -->

  <!-- Local dataset --> 
  <!-- <dataset name="my_dataset" url="file:///Users/username/data/my_dataset.idx" permissions="public"/> -->

  <!-- Remote dataset -->
  <!-- <dataset name="My Data" url="http://myserver.org/mod_visus?dataset=dataset_name" /> -->

  <!-- Saved scene -->
  <!-- <scene name="my_scene" url="file:///Users/username/data/my_scene.xml" permissions="public"/> -->

  <!-- ====================================================================== -->
  <!-- =========================== Example datasets ========================= -->
  <!-- ====================================================================== -->

  <group name="Examples"> 
    <dataset name="David" url="http://$(server)/mod_visus?dataset=david_subsampled&amp;compression=zip" >
      <alias key='name' value='david' /> 
      <call template="CreateAccess" /> 
    </dataset>
    
    <group name="Aerial">
      <dataset name="Agricolture"  url="http://atlantis.sci.utah.edu/mod_visus?dataset=AG4S_061616" >
        <alias key='name' value='aerial' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="San Francisco (74.25 GP)" url="http://atlantis.sci.utah.edu/mod_visus?dataset=sanfrancisco" >
        <alias key='name' value='sanfrancisco' /> 
        <call template="CreateAccess" />
      </dataset>
    </group> 
     
    <group name="Microscopy">
      <dataset name="ARUP (440.0 MP)" url="http://atlantis.sci.utah.edu/mod_visus?dataset=BC1" kdquery="1" >
        <alias key='name' value='arup' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Bone" url="http://atlantis.sci.utah.edu/mod_visus?dataset=osso" >
        <alias key='name' value='bone' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Neurons" url="http://atlantis.sci.utah.edu/mod_visus?dataset=MM336-001" >
        <alias key='name' value='neurons' /> 
        <call template="CreateAccess" />
      </dataset>
    </group> 

    <group name="Simulations">
      <dataset name="Fluids instability (2kbit1)" url="http://$(server)/mod_visus?dataset=2kbit1" >
        <alias key='name' value='fluids_2kbit1' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Lifted Flame" url="http://atlantis.sci.utah.edu/mod_visus?dataset=lifted_time" >
        <alias key='name' value='lifted_flame' /> 
        <call template="CreateAccess" />
      </dataset>
    </group>

    <group name="Materials">
      <dataset name="Composite material" url="http://atlantis.sci.utah.edu/mod_visus?dataset=cracked" >
        <alias key='name' value='comp_mat' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Seismic" url="http://atlantis.sci.utah.edu/mod_visus?dataset=penobscot" >
        <alias key='name' value='seismic' /> 
        <call template="CreateAccess" />
      </dataset>
    </group>

    <group name="Climate">
      <dataset name="Nature 2007 (3D)" url="https://feedback.llnl.gov/mod_visus?dataset=nature_2007_3d_hourly" >
        <alias key='name' value='nature_2007_3d_hourly' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Nature 2007 (2D)" url="https://feedback.llnl.gov/mod_visus?dataset=nature_2007_2d_hourly" >
        <alias key='name' value='nature_2007_2d_hourly' /> 
        <call template="CreateAccess" />
      </dataset>
    </group>

    <group name = "Space" >
      <dataset name="Carina Nebula (420.0 MP)" url="http://atlantis.sci.utah.edu/mod_visus?dataset=carina_nebula" kdquery="1" >
        <alias key='name' value='carina' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Lagoon Nebula (370.0 MP)" url="http://atlantis.sci.utah.edu/mod_visus?dataset=lagoon_nebula" kdquery="1" >
        <alias key='name' value='lagoon' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Milky Way (8.82 GP)" url="http://atlantis.sci.utah.edu/mod_visus?dataset=milky_way_subsampled" kdquery="1" >
        <alias key='name' value='milky_way' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Orion" url="http://atlantis.sci.utah.edu/mod_visus?dataset=orion" kdquery="1" >
        <alias key='name' value='orion' /> 
        <call template="CreateAccess" />
      </dataset>
    </group> 

    <group name = "Panoramas" >
      <dataset name="SLC_library (27.2 GP)" url="http://atlantis.sci.utah.edu/mod_visus?dataset=SLC_library" kdquery="1" mirror="y">
        <alias key='name' value='library_slc' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Mount Rushmore (510.0 MP)" url="http://atlantis.sci.utah.edu/mod_visus?dataset=mount_rushmore" kdquery="1" mirror="y">
        <alias key='name' value='rushmore' /> 
        <call template="CreateAccess" />
      </dataset>
      <dataset name="Paris 26.76 GP" url="http://atlantis.sci.utah.edu/mod_visus?dataset=paris" kdquery="1" mirror="y">
        <alias key='name' value='paris' /> 
        <call template="CreateAccess" />
      </dataset>
    </group>

  </group>
  
</datasets>

</visus>
