<?xml version="1.0" ?>

<visus verbose-disk-access="0" gpu_limit="1.2gb">
	
	<alias key='data' value='/C:/free/visus_dataset'/> 
	<alias key='server' value='atlantis.sci.utah.edu' />
	
	<viewer  fps="20" >	
		<dataset alias="2kbit1"            url="file://$(data)/2kbit1/visus.idx"	 />
		<dataset alias="2kbit1 row major"  url="file://$(data)/2kbit1_rowmajor/visus.idx"	 />
		<dataset alias='ROME'              url="file://$(data)/rome/visus.idx"  />
		
		
		<dataset alias='LOCAL QUERY ROME WITH RAM CACHE' url="file://$(data)/rome/visus.idx" >
			<access type=multiplex>
					<access type='lruam' chmod='rw' available='128mb' />
					<access type='disk'/>
			</access>
		</dataset>		
					
		<dataset alias="KD 2kbit1"          url="file://$(data)/2kbit1/visus.idx" kdquery="1" />
		
		<dataset alias='LOCAL KDQUERY ROME' url="file://$(data)/rome/visus.idx" kdquery=1/>
		
		<dataset alias='Centerlines' url="file://$(data)/centerlines/visus.idx"/>
		
		<group name="local data">
			<dataset url="file://$(data)/rome_jpg/visus.idx" />
			<dataset url="file://$(data)/rome_wavelet_compression/visus.idx" />
			<dataset url="file://$(data)/rome_wavelet/visus.idx" alias="rome wavelet"/>		
			<dataset url="file://$(data)/rome_wavelet/visus.idx" kdquery="1" alias="rome wavelet kdtree"/>		
			<dataset url="file://$(data)/denver/visus.idx" />
			<dataset url="file://$(data)/male/visus.idx" />
			<dataset url="file://$(data)/microscopy_color/visus.idx" />
			<dataset url="file://$(data)/microscopy/visus.idx" />
		</group>
		
	
		<group name="atlantis data">
			<alias key='server' value='atlantis.sci.utah.edu' />
		  <dataset url="http://$(server)/mod_visus?dataset=david&amp;kdquery=1"/>
		  <dataset url="http://$(server)/mod_visus?dataset=david_subsampled&amp;kdquery=1" />
		  <dataset url="http://$(server)/mod_visus?dataset=sandiego&amp;kdquery=1"/>
		  <dataset url="http://$(server)/mod_visus?dataset=atlanta&amp;kdquery=1" />
		  <dataset url="http://$(server)/mod_visus?dataset=phoenix&amp;kdquery=1" />
		  <dataset url="http://$(server)/mod_visus?dataset=hamilton&amp;kdquery=1" />
		  <dataset url="http://$(server)/mod_visus?dataset=sanfrancisco&amp;kdquery=1" />
		  <dataset url="http://$(server)/mod_visus?dataset=chattanooga&amp;kdquery=1" />
		  <dataset url="http://$(server)/mod_visus?dataset=microscopy&amp;kdquery=1" />
		  <dataset url="http://$(server)/mod_visus?dataset=microscopy_color&amp;kdquery=1" />	  
		  <dataset url="http://$(server)/mod_visus?dataset=2kbit1" />
		  <dataset alias="PURE REMOTE QUERY" url="http://$(server)/mod_visus?dataset=atlanta" />
			<dataset alias="QUERY WITH REMOTE BLOCKS" url="http://$(server)/mod_visus?dataset=atlanta" >
				<access type='network' chmod='r'  compression='zip' maxConnectedSocket='48' />
			</dataset>	  
		</group>
		  
		<group name="cached atlantis data">
			<template name='CreateCachedDataset'>
				<dataset alias="cached $(name)@atlantis" url="http://$(server)/mod_visus?dataset=$(name)&amp;kdquery=1">
					<access type='multiplex'>
						<access type='disk'    chmod='rw' url='file:///$(VisusHome)/$(name)/visus.idx'  />
						<access type='network' chmod='r'  compression='jpg' maxConnectedSocket='48'/>
            <!-- NOTE: cannot use compression='jpg' for float data, only for int!!! -->
            <!-- NOTE: in general, compression='zip' or 'png' for lossless, 'jpg', 'exr' for satellite imagery, david, etc (lossy) -->
					</access>
				</dataset> 
			</template>	
			<alias key="name" value="atlanta" ><call template="CreateCachedDataset" /></alias>
			<alias key="name" value="sandiego"><call template="CreateCachedDataset" /></alias>
			<alias key="name" value="david"   ><call template="CreateCachedDataset" /></alias>
		</group>	  
		 
	  <group name="localhost">
		  <alias key='server' value='localhost:10000' />
		 	<dataset alias="rome@localhost"                          url="http://$(server)/mod_visus?dataset=rome" />
		 	<dataset alias="kdrome@localhost"                        url="http://$(server)/mod_visus?dataset=rome&amp;kdquery=1" />
			<dataset alias="2kbit1@localhost"                        url="file://$(server)/mod_visus?dataset=2kbit1" />
			<dataset alias="denver@localhost"                        url="file://$(server)/mod_visus?dataset=denver" />
			<dataset alias="male@localhost"                          url="file://$(server)/mod_visus?dataset=male" />
			<dataset alias="microscopy@localhost"                    url="file://$(server)/mod_visus?dataset=microscopy" />
			<dataset alias="microscopy_color@localhost"              url="file://$(server)/mod_visus?dataset=microscopy_color" />
			<dataset alias="rome_jpeg@localhost"                     url="file://$(server)/mod_visus?dataset=rome_jpeg" />
			<dataset alias="rome_wavelet@localhost"                  url="file://$(server)/mod_visus?dataset=rome_wavelet" />
			<dataset alias="rome_wavelet_compression@localhost"      url="file://$(server)/mod_visus?dataset=rome_wavelet_compression" /> 
	  </group>
	  
	</viewer>
	
	<server port="10000" nthreads="16">
		<dataset name="rome"                          url="file://$(data)/rome/visus.idx" />
		<dataset name="2kbit1"                        url="file://$(data)/2kbit1/visus.idx" />
		<dataset name="denver"                        url="file://$(data)/denver/visus.idx" />
		<dataset name="male"                          url="file://$(data)/male/visus.idx" />
		<dataset name="microscopy"                    url="file://$(data)/microscopy/visus.idx" />
		<dataset name="microscopy_color"              url="file://$(data)/microscopy_color/visus.idx" />
		<dataset name="rome_jpeg"                     url="file://$(data)/rome_jpg/visus.idx" />
		<dataset name="rome_wavelet"                  url="file://$(data)/rome_wavelet/visus.idx" />
		<dataset name="rome_wavelet_compression"      url="file://$(data)/rome_wavelet_compression/visus.idx" />
	</server>

</visus>






