<?xml version="1.0" ?>
<visus>

  <alias key='dir'        value='/visus' />
  <alias key='local'      value='$(dir)/datasets' />

  <dataset name="cat" url="file://$(local)/cat/visus.idx" permissions="public" />

  <dataset name="BlueMarble" permissions="public" url="http://atlantis.sci.utah.edu/mod_visus?dataset=BlueMarble" >
    <access name="multiplex" type="multiplex">
      <access chmod="rw" type="disk" url="file://$(VisusCacheDirectory)/BigBlueMarble/visus.idx" />
      <access chmod="r" compression="zip" type="network" />
    </access>
  </dataset>

  <dataset name="2kbit1" url="http://atlantis.sci.utah.edu/mod_visus?dataset=2kbit1" permissions="public" >
    <access type="multiplex">
      <access type="disk"    chmod="rw" url="file://$(VisusCacheDirectory)/2kbit1/visus.idx"  />
      <access type="network" chmod="r"  compression="zip" />
    </access>
  </dataset>

  <group name="Climate">
    <alias key="server" value="https://feedback.llnl.gov/mod_visus?dataset=" />

    <dataset name="nature_2d" url="$(server)nature_2007_2d_hourly" permissions="public" >
      <access name="ServerSide" type="multiplex">
        <access compression="zip" dir="$(VisusCacheDirectory)/nature_2007_2d_hourly/serverside" name="N2d_DA" type="DiskAccess" dtype="float32" />
        <access chmod="r" compression="zip" type="network" />
      </access>
      <access name="ClientSide" type="MultipleAccess">
        <aer1 type="multiplex">
          <access chmod="rw" type="disk" url="file://$(VisusCacheDirectory)/nature_2007_2d_hourly/aer1/visus.idx" />
          <access chmod="r" compression="zip" type="network" url="$(server)nature_2007_2d_hourly/aer1" nconnections="16" max_connections_per_sec="0" verbose="0" />
        </aer1>
        <met1 type="multiplex">
          <access chmod="rw" type="disk" url="file://$(VisusCacheDirectory)/nature_2007_2d_hourly/met1/visus.idx" />
          <access chmod="r" compression="zip" type="network" url="$(server)nature_2007_2d_hourly/met1" nconnections="16" max_connections_per_sec="0" verbose="0" />
        </met1>
      </access>
    </dataset>

  </group>    

</visus>
