<?xml version="1.0" ?>
<visus>
	
	<!-- I know there are this sample datasets in the OpenVisus distrib -->
	<dataset name="cat_rgb"    url="/home/OpenVisus/datasets/cat/rgb.idx"    permissions="public" />
	<dataset name="cat_gray"   url="/home/OpenVisus/datasets/cat/gray.idx"   permissions="public" />	
	
		<!-- if you have extra datasets -->
		<include url="/datasets/datasets.config" />
		
</visus>
