<?xml version="1.0" ?>

<visus>

  <include url='/mnt/visus_datasets/visus.config' />

  <datasets>
    <dataset name="BlueMarbleDay"   url="http://atlantis.sci.utah.edu/mod_visus?dataset=BlueMarble&amp;compression=zip" permissions="public" />
    <dataset name="BlueMarbleNight" url="http://atlantis.sci.utah.edu/mod_visus?dataset=BlueMarbleNight&amp;compression=zip" permissions="public" />
    <dataset name="2kbit1" url="http://molniya.sci.utah.edu/mod_visus?dataset=2kbit1&amp;compression=zip" permissions="public" />
  </datasets>

</visus>
